/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f9; /* Light Gray Background */
    color: #333; /* Text Gray */
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
header, h1, h2 {
    color: #1a3d7c; /* Dark Blue for headings */
    font-family: 'Playfair Display', serif;
}


.container {
    a {
    color: #008080; /* Teal for links */
}
a:hover {
    color: #004d4d; /* Darker teal on hover */
    text-decoration: underline;
}

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}



header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about, .expertise, .projects {
    margin-top: 20px;
}

section h2 {
    font-size: 1.5em;
    color: #282c34;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

ul li a {
    text-decoration: none;
    color: #0066cc;
}

ul li a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #555;
}

footer a {
    color: #0066cc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
